/* https://docs.gtk.org/gtk3/css-properties.html */

window#waybar {
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
}

#custom-launcher {
  color: #1793d1;
  font-size: 30px;
}
#custom-taskmanager {
  color: #ff8c00;
  font-size: 20px;
}
#custom-hyprpicker {
  color: #2fbb00;
  font-size: 18px;
}
#custom-launcher, #custom-taskmanager, #custom-hyprpicker {
  min-width: 40px;
}

#workspaces {
  margin-left: 10px;
}

#workspaces button {
  border-width: 1px;
  border-color: white;
  border-radius: 5px;
  margin: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  color: white;
}

#workspaces button.active {
  color: black;
  background-color: white;
  font-size: 16px;
}

#workspaces button.urgent {
  color: black;
  background-color: red;
  font-size: 16px;
}

#cpu {
  padding-right: 10px;
}

#memory {
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

#disk {
  padding-left: 10px;
  padding-right: 10px;
}

#battery {
  padding-left: 10px;
  padding-right: 25px;
}

#cpu, #memory, #disk, #battery {
  font-size: 14px;
}

#pulseaudio {
  padding-right: 15px;
  font-size: 14px;
}

#network {
  padding-right: 30px;
  font-size: 14px;
}

#tray {
  padding-right: 10px;
}

#bluetooth {
  padding-right: 15px;
}

#clock {
  min-width: 160px;
  font-size: 14px;
}

#custom-wlogout {
  color: white;
  font-size: 16px;
  padding-right: 15px;
  padding-left: 10px;
}
