/**
 * https://github.com/davatorium/rofi/blob/next/doc/default_theme.rasi
 **/

* {
    greenish: rgba(109, 143, 79, 100%);
    redish: rgba(255, 0, 0, 100%);
}

configuration {
    show-icons: true;

    timeout {
        action: "kb-cancel";
        delay: 0;
    }

    filebrowser {
        directories-first: true;
        sorting-method: "name";
    }
}

element {
    padding: 5px 15px 5 15px;
    spacing: 20px;
    border:  0;
    cursor:  pointer;
}
element normal.normal {
    background-color: rgba(31, 31, 31, 100%);
    text-color: rgba(148, 168, 176, 100%);
}
element alternate.normal {
    background-color: rgba(31, 31, 31, 100%);
    text-color: rgba(148, 168, 176, 100%);
}
element-text {
    background-color: rgba ( 0, 0, 0, 0 % );
    text-color:       inherit;
    highlight:        inherit;
    cursor:           inherit;
    vertical-align: 0.5;
}
element-icon {
    background-color: rgba (0, 0, 0, 0%);
    size:             1.5000em ;
    text-color:       inherit;
    cursor:           inherit;
}

textbox {
    text-color: var(greenish);
}
textbox-prompt-colon {
    margin:     0px 0.3000em 0.0000em 0.0000em ;
    expand:     false;
    str:        ":";
    text-color: var(greenish);
}

num-filtered-rows, num-rows {
    text-color: var(greenish);
    expand:     false;
}
textbox-num-sep {
    text-color: var(greenish);
    expand:     false;
    str:        "/";
}

entry {
    spacing:           0;
    text-color:        var(greenish);
    placeholder-color: var(greenish);
    placeholder:       "Type here to filter";
    cursor:            text;
}

inputbar {
    padding:    10px ;
    spacing:    0px ;
    text-color: var(greenish);
    children:   [ entry, num-filtered-rows, textbox-num-sep, num-rows, case-indicator ];
}

/**
 * drun text
 **/
prompt {
    spacing:    0;
    text-color: var(greenish);
}

window {
    padding: 0;
    background-color: rgba(24, 24, 24, 100%);
    border: 2;
    border-color: var(greenish);
    border-radius: 8px;
    width: 500px;
}

scrollbar {
    width:        4px ;
    padding:      0;
    handle-width: 8px ;
    border:       0;
    handle-color: var(greenish);
}

listview {
    padding:      2px 0px 0px ;
    scrollbar:    true;
    border-color: var(greenish);
    spacing:      2px ;
    fixed-height: 0;
    border:       2px solid 0px 0px ;
}

message {
    padding:      1px ;
    border-color: var(greenish);
    border:       2px dash 0px 0px ;
}
